:root {
    --primary: #5F8670;
    --secondary: #FF9800;
    --text: #3;
    --highlight: #4;
    --background: #5F8670;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--primary);
}
