nav {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 100px;
    margin: 10px;
}

nav>div {
    padding: 10px;
}
#center-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: var(--secondary);
    font-weight: 800;
    font-style: italic;
    /* border: 4px solid var(--primary);
    background: #fff;
    filter: drop-shadow(8px 8px 0px var(--primary));
    border-radius: 20px; */
}
#left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#left-nav>button {
    height: 50%;
    font-size: 1.2rem;
    color: var(--primary);
    background:transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}
#left-nav>button:hover {
    border-bottom: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
    opacity: 1;
}
#right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.social-link {
    height: 50px;
    filter: invert(50%) sepia(13%) saturate(729%) hue-rotate(93deg) brightness(94%) contrast(89%);
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.social-link:hover {
    opacity: 1;
}
#reserve-button {
    height: 50px;
    width: 40%;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: var(--primary);
    background: #fff;
    border: 2px solid var(--primary);
    filter: drop-shadow(4px 4px 0px var(--primary));
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#reserve-button:hover {
    width: 50%;
}