nav {
    background: var(--accent);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 40px;
    align-items: center;
}
.nav-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
button {
    background: var(--primary);
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid black;
    filter: drop-shadow(6px 6px 0px black);
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover {
    opacity: 1;
    border-radius: 4px;
}
.logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.other-nav {
    display: flex;
    align-items: center;
    justify-content: right;
}
.other-nav>button {
    width: 340px;
}
#main {
    height: 80%;
    width: 100%;
}
