body {
    height: 100vh;
    width: 100vw;
    font-size: 1rem;
    background-color: #112D4E;
    font-family: 'Ubuntu', sans-serif;
}
#content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
